.shopping-cart-table {
  margin-top: 45px;
}

.shopping-cart-table .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: 10px;
}

.shopping-cart-table button {
  margin-left: 5px;
  margin-top: 5px;
}

.shopping-cart-table .id {
  width: 5%;
}

.shopping-cart-table .title {
  width: 60%;
}

.shopping-cart-table .count {
  width: 10%;
  text-align: center;
}

.shopping-cart-table .price {
  width: 10%;
  text-align: center;
}

.shopping-cart-table .action {
  width: 15%;
  text-align: right;
}